# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Large datasets
creditcard.csv
creditcard_10percent.csv

# Virtual environments
venv/
env/
.env

# Streamlit specific
.streamlit/
